body {
    width: 360px;
    max-height: 5040px;
    font-size: 13px;
}

.logo__img {
    height: 14.45px;
    width: 137.41px;
    margin: 27.94px 166.59px 26.61px 16px;
}

.show-more, 
.burger-menu__img,
.breadcrumbs {
    display: block;
    cursor: pointer;
}

.ellipse, 
.round-table {
    cursor: pointer;
}

.burger-menu__img {
    margin-top: 26px;
}

.navigation, 
.menu, 
.collective {
    display: none;
}

.about-company {
    position: relative;
    left: 0;
    top: 3.5px;
    width: 360px;
    height: 122px;
    background: 
    linear-gradient(86.32deg, rgba(255, 255, 255, 0.7) 1.17%, rgba(255, 255, 255, 0.9) 98.45%), 
    url('../images/about-company.png') 0 0/ 360px 122px no-repeat;
}

.description__title {
    width: 138px;
    height: 28px;
    font: 700 22px "PT Serif";
    line-height: 29px;
    margin-top: 73.7px;
    margin-left: -103px;
}

.breadcrumbs span {
    width: 100px;
    height: 12px;
    color:#6B6B6B;
    font-size: 9px;
}

.breadcrumbs {
    margin: 28px 0 0 -199px;
}

.breadcrumbs__img {
    margin-left: 3px;
    margin-right: 1px;
}

.about-company::after {
    display: none;
}

.description__text {
    width: 328px;
    height: 120px;
    font-size: 11px;
    margin: 17px -199px;
    line-height: 15px;
}

.experts__title, 
.news-text__title, 
.advantages__title, 
.text-trust__title {
    position: relative;
    font-size: 22px;
    line-height: 125%;
}

.experts__title {
    position: relative;
    margin: 238.5px 1084px 0 81px;
    width: 108px;
    height: 28px;
}

.experts__title::before, 
.news-text__title::before, 
.advantages__title::before, 
.text-trust::before {
    width: 50px;
    right: 123px;
    top: 13px;
}

.news-text__title::before {
    right: 145px;
    top: 14px;
}

.text-trust::before {
    left: -199px;
    top: -36.7px;
} 

.founders__text {
    font-size: 11px;
    line-height: 15px;
    margin: 1122px 20px 0 -343px;
    width: 323px;
    height: 105px;
}

.elena {
    width: 360px;
}

.elena__foto, 
.maria__foto, 
.konstantin__foto, 
.evgenia__foto {
    width: 260px;
    height: 380px;
}

.elena__foto {
    margin: 38px 0 0 50px;
}

.konstantin__foto {
    margin: 580px 0 0 -310px;
}

.maria__foto {
    width: 260px;
    margin: 53px 0 0 50px;
}

.elena__name, 
.konstantin__name {
    height: 24px;
    font-size: 18px;
}

.elena__name {
    width: 159px;
    margin: 16px 0 0 50px;
}

.konstantin__name {
    width: 222px;
    margin: 16px 0 0 -310px;
}

.elena p, 
.konstantin p, 
.grid p {
    font-size: 13px;
}

.elena p {
    margin-left: 70px; 
}

.konstantin p {
    margin: 9px 0 -12px -290px; 
}

.elena__position {
    width: 169px;
    margin-top: 10px;
    margin-bottom: -3px;
}

.elena__education {
    width: 172px;
}

.konstantin__position {
    margin-top: 10px;
    margin-bottom: -3px;
}

.konstantin__education {
    width: 193px;
    margin: 0 130px 85px 20px;
}

.elena__position::before, 
.konstantin__position::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    height: 63px;
}

.gallery {
    position: relative;
    width: 360px;
    height: 1208.64px;
    margin-top: 54px;
    background: 
    linear-gradient(81.97deg, rgba(255, 255, 255, 0.94) 25.25%, rgba(255, 255, 255, 0.79) 65.98%, rgba(255, 255, 255, 0.88) 99.02%),
    url('../images/experts\ background.png') 0 0 / 360px 1208.64px no-repeat;
}

.maria, 
.evgenia {
    padding: 0;
}

.grid h3 {
    height: 24px;
    font-size: 18px;
}

.evgenia__foto {
    margin-left: -260px;
    margin-top: 641px;
}

.maria__name {
    margin-top: 13px;
    margin-left: 50px;
}

.evgenia__name {
    margin-top: 13px;
    margin-left: -260px;
}

.alla, 
.julia, 
.yana, 
.ekaterina {
    display: none;
}

.maria p {
    margin: 10px 0 11px 70px;
    line-height: 18px;
}

.evgenia p {
    margin: 10px 0 11px -241px;
    line-height: 18px;
}

.evgenia__position::before {
    height: 67px;
}

.maria__position::before {
    height: 114px;
}

.next__right-button {
    display: none;
}

.previous__left-button {
    display: none;
}

.ellipse {
    left: 139px;
    bottom: 22px;
}

.ellipse__pink2 {
    width: 9px;
    height: 9px;
    border: 1px solid #BA206B;
    border-radius: 50%;
    background: #BA206B;
    margin-left: 13px;
}

.ellipse__pink3 {
    width: 9px;
    height: 9px;
    border: 1px solid #BA206B;
    border-radius: 50%;
    background: #BA206B;
    margin-left: 13px;
}

.actual {
    width: 360px;
    height: 521px;
    margin: 127px 0 123.5px;
}

.fns, 
.tax-master {
    display: none;
}

.news-text__title {
    width: 130px;
    height: 29px;
    margin: -51px 0 0 82px;
}

.round-table__text {
    font-size: 15px;
}

.round-table {
    width: 305px;
    height: 368px;
    box-shadow: 10px 10px 20px rgba(72, 93, 147, 0.07);
    margin: 11px 0 0 28px;
}

.round-table__img {
    width: 305px;
    height: 195px;
}

.round-table__text {
    width: 237px;
    height: 60px;
    margin: 17px 0 0 -3px;
}

.text-trust__show {
    font-size: 13px;
    line-height: 130%;
    color: #BA206B;
    margin-top: 31px;
}

.news-text__img, 
.news-text__show {
    display: none;
}

.info {
    margin-top: 33px;
    margin-left: -3px;
}

.img-eye {
    margin-left: 96.5px;
}

.show-more {
    display: flex;
}

.show-more__text {
    font-size: 13px;
    line-height: 130%;
    color: #BA206B;
    margin: 53px 0 0 92px;
    width: 109px;
} 

.show-more__img {
    margin: 53px 0 0 7px;
}

.video__item {
    width: 360px;
    height: 176px;
    object-fit: cover;
    margin-top: -136px;
}

.advantages {
    width: 360px;
    height: 702px;
    background: 
    linear-gradient(270deg, #FFFFFF 19.48%, #FFFFFF 19.48%, rgba(255, 255, 255, 0.85) 59.99%, rgba(255, 255, 255, 0.85) 86.99%, rgba(255, 255, 255, 0.5) 155.04%),
    url('../images/advantages-mobile.png') 0 0 no-repeat;
    margin-top: 71px;
}

.advantages__title {
    font-size: 22px;
    padding-top: 25.5px;
    padding-left: 81px;
}

.advantages__title::before {
    left: 16px;
    top: 39px;
}

.grid-small {
    display: grid;
    grid-template: repeat(6, 1fr) /  1fr;
    row-gap: 38px;
    margin: 33px 0 0 16px;
}

.grid-small p {
    font-size: 13px;
}

.consultation__img, 
.employees__img, 
.courts__img {
    width: 50px;
}

.consultation__text {
    width: 240px;
}

.employees__text, 
.accounting__text, 
.legal-service__text, 
.solutions__text {
    width: 135px;
}

.grid-small p {
    padding-left: 40px;
}

.employees__text {
    margin-top: 19px;
}

.courts img {
    margin-top: 4px;
}

.courts__text {
    margin-top: 23px;
}

.legal-service__text {
    margin-top: 21px;
    margin-left: 13px;
}

.legal-service__img {
    width: 38px;
    margin-top: 10px;
}

.solutions__text {
    margin-left: 6px;
}

.solutions__img {
    width: 45px;
    margin-top: 10px;
}

.accounting__text {
    margin: 12px 0 1px 8px;
}

.accounting__img {
    width: 43px;
    margin-top: 5px;
}

.partners {
    width: 360px;
    height: 360px;
    margin: 127px 0 0;
}

.text-trust__title {
    width: 161px;
    height: 29px;
    font-size: 22px;
    margin: -51px 0 0 81px;
}

.text-trust__show, 
.text-trust__img {
    display: none;
}

.company {
    display: flex;
    justify-content: center;
}

.proinvest__text {
    margin-top: 19px;
}

.proinvest {
    width: 202px;
    margin-top: 13px;
    margin-left: -35px;
}

.siberia, 
.gis {
    display: none;
}

.scale {
    width: 149px;
    margin: 37px -35px 0 -22px;
}

.city {
    font-size: 11px;
    margin-top: -8px;
}

.proinvest__text, 
.scale__text {
    font-size: 13px;
}

.proinvest__img {
    width: 112px;
    height: 67px;
}

.scale__img {
    width: 149px;
    height: 32px;
}

.scale__text {
    width: 149px;
    margin-top: 31px;
}

.pagination {
    display: none;
}

.show-more__text-mobile {
    font-size: 13px;
    line-height: 130%;
    color: #BA206B;
    margin: 46px 0 0 -75px;
    width: 109px;
}

.show-more__img-mobile {
    margin: 46px 0 0 7px;
}

.footer {
    height: 97px;
    width: 360px;
    display: flex;
    background: #F0F0F0;
    margin-top: -74px;
}

.logotype__img {
    margin: 39px 16px;
    width: 148.21px;
    height: 15.45px;
}

.link {
    display: none;
}

.socials {
    margin: 34px 0 0 97px;
}